@()

@main("jdbc test") {
    <script>
        $(function() {
            var result = $("#result");

            var showResult = function showResult(results) {
                result.empty();
                if ($.isArray(results)) results = results; else  results = [results];
                for (var i=0, l = results.length; i < l ; i++) {
                    result.append("<li>"+results[i]+"</li>");
                }
            };

            $("a").click(function(e) {
                e.stopImmediatePropagation();
                e.stopPropagation();
                e.preventDefault();
                $.get($(this).attr("href"), function(d) {showResult(d);});
                $(this)
                    .parent()
                        .hide()
                    .next()
                        .show();
                return false;
            });
        });
    </script>


    <ol>
        <li><a href="@routes.JDBC.table">Create table</a></li>
        <li style="display:none;list-style:none;"><a href="@routes.JDBC.test("Don''t insert me")">first val</a></li>
        <li style="display:none;list-style:none;"><a href="@routes.JDBC.test("What did I said?")">second val</a></li>
        <li style="display:none;list-style:none;"><a href="@routes.JDBC.test("Grrr")">third val</a></li>
        <li style="display:none;list-style:none;">End</li>
    </ol>
    <ul id="result">
    </ul>
}